.App {
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100vh;
}

.bg {
width: 100%;
}

.App-header {
  background-color: #CCE7D8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  padding-top: 15%;
}

.footer {
  position: fixed;
  bottom: 0;

}